<!--<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="uploadDp.css">
    <script src = "uploadDp.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
      body{
        overflow: scroll;
      }
      .col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}
    </style>
   
</head>
<body>
   <jsp:include page="header.jsp" />
    <!--upload post-->
    <!-- Modal -->

    <!--header starts-->
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="color:white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
              <img src="usersDp/<%= user.getDp()%>" alt="Logo" style="width:40px;" class="rounded-pill">
            </a>
            <span class="ms-2"><% out.print(user.getUserName()); %></span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar" >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">New Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">New Post</a></li>
                <li><a class="dropdown-item" href="#">Another link</a></li>
                <li><a class="dropdown-item" href="#">A third link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    <!--Header ends-->





  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Post A Picture </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <form action="postupload" enctype="multipart/form-data" method="post">
        <div class="modal-body">
          <input type="file" name = "picFile" id="dpFile"  onchange="previewImage()">

          <div class="img">
            <input  name="caption" type="text" id="pictureCaption" class="form-control" placeholder="Say something about this photo..." style="visibility: hidden;">
            <img id="dpImage" class="img-thumbnail"  src="" alt="..." style="width: 200px;height: 200px;">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="newPost">Post</button>
        </div>
        </form>
      </div>
    </div>
  </div>
    <!--Upload post - end-->


    <!--Post display-->
   <div id="postcard" class="container-fluid mt-0">
    
    <div class="container-fluid">
      <div class="col">
        <!--Post 1 start-->
        <div class="col-lg-6 text-white col-centered d-block p-2" >
          <div class="card">
            <div class="card-header">
              <img src="usersDp/usrdp12.jpg" alt="User Profile" class="rounded-circle" width="40" height="40" style="float: left;">
              <span class="ms-2">PRaj</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">sdfghe treatment</h5>
              <p class="card-text">
                <img src="images/PostImage.png" class="img-fluid" alt="..." style="max-width: 400px; max-height: 300px;">
                
              </p>
              <div class = "d-flex flex-row">
                <div class = "mt-2"><a href=""><i class = "material-icons">thumb_up</i></a></div>
                <div class = "mt-2 ms-1">Like</div>
                <div class = "mt-2 ms-4"><a href=""><i class = "material-icons">comment</i></a></div>
                <div class = "mt-2 ms-1">comment</div>
                <div class = "mt-2 ms-4"><a href=""><i class="material-icons">share</i></a></div>
                <div class = "mt-2 ms-1">Share</div>
               </div>
            </div>
          </div>
        </div>
        <!--Post 1 end-->
       
        
        
      </div>
    </div>
  </div>
<script src="userhome.js"></script>
</body>
</html>